.Home {
  width: 100%;
  height: fit-content;
  margin: 0;
  font-family: "roboto", sans-serif;
}

a {
  text-decoration: none;
}

body a {
  color: black;
}

.header {
  width: 100%;
  height: 5rem;
}
.header_logo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_logo_pict {
  height: 2rem;
  width: 11rem;
}

input {
  width: 9rem;
  height: 2rem;
  border: none;
  background-color: #EAEAEA;
  font-weight: 600;
  font-size: 1rem;
}

.section_1 {
  width: 100%;
}
.section_1_1 {
  width: 100%;
  height: 3rem;
  background-color: #EAEAEA;
  justify-items: center;
  display: flex;
  justify-content: center;
}
.section_1_1_map {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_1_1_map i {
  margin: 0 2.5% 1% 0;
  color: #2e2e2e;
  font-size: 1.2rem;
}
.section_1_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 15rem;
  background-color: #F6F6F6;
}
.section_1_2_title {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  height: 30%;
  font-weight: bolder;
}
.section_1_2_subtitle {
  width: 80%;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 25%;
}
.section_1_2_button {
  width: 60%;
  display: flex;
  justify-content: center;
  height: 22%;
  margin-top: 4%;
}
.section_1_2_button :hover {
  filter: opacity(80%);
  filter: brightness(110%);
  box-shadow: 0px 2px 17px 5px rgba(79, 79, 79, 0.32);
}
.section_1_2_button_b {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  font-size: 0.9rem;
  font-weight: bold;
  border: none;
  box-shadow: 0px 4px 17px 2px rgba(79, 79, 79, 0.26);
  color: white;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
}

.section_2 {
  width: 100%;
  height: 18rem;
}
.section_2_1 {
  width: 100%;
  height: 18%;
  margin-left: 3%;
  font-weight: bolder;
}
.section_2_2 {
  width: 99%;
  height: 82%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.section_2_2_card {
  display: flex;
  width: 90%;
  height: 28%;
  margin-left: 5%;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: #cccaca 5px 5px 5px;
}
.section_2_2_card:hover {
  background-color: #F5EDFF;
}
.section_2_2_card:hover > i {
  color: #9356DC;
}
.section_2_2_card_s {
  width: 82%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  right: 0.8rem;
}
.section_2_2_card_s_num {
  background-color: #9356DC;
  border-radius: 50px;
  padding: 1.2% 2.8% 1.2% 2.8%;
  color: white;
}
.section_2_2_card_s_icon i, .section_2_2_card_s_icon1 i, .section_2_2_card_s_icon2 i {
  color: grey;
}
.section_2_2_card_s_icon1 i {
  font-size: 1.4rem;
  position: relative;
  left: 0.3rem;
}
.section_2_2_card_s_icon2 i {
  position: relative;
  left: 0.1rem;
}
.section_2_2_card_s_text p, .section_2_2_card_s_text1 p {
  font-weight: bolder;
  font-size: 1.05rem;
}
.section_2_2_card_s_text1 {
  position: relative;
  right: 0.5rem;
}

.section_3 {
  width: 100%;
  height: 80rem;
  margin-top: 10%;
}
.section_3_1 {
  width: 100%;
  height: 7%;
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
}
.section_3_1_title {
  height: 50%;
  margin: 0 0 2% 3%;
}
.section_3_2 {
  width: 100%;
  height: 93%;
  margin: 0;
  background-color: #F6F6F6;
}
.section_3_2_cards {
  width: 100%;
  height: 22%;
  display: flex;
  margin-bottom: 5%;
  justify-items: center;
}
.section_3_2_cards_1 {
  width: 90%;
  height: 90%;
  margin: 2% 0 0 4.2%;
  border-radius: 20px;
  background-color: white;
  box-shadow: #dddcdc 5px 5px 5px;
}
.section_3_2_cards_1_pict {
  width: 99%;
  height: 70%;
}
.section_3_2_cards_1_pict_1 {
  width: 101%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.section_3_2_cards_1_legend {
  width: 100%;
  height: 30%;
  display: flex;
}
.section_3_2_cards_1_legend_text {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.section_3_2_cards_1_legend_text_title {
  width: 100%;
  height: 45%;
  display: flex;
  align-items: flex-start;
  position: relative;
  bottom: 9%;
  left: 5%;
}
.section_3_2_cards_1_legend_text_subtitle {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  position: relative;
  bottom: 6%;
  left: 5%;
}
.section_3_2_cards_1_legend_heart {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_3_2_cards_1_legend_heart .far {
  height: 30%;
  width: 30%;
  font-size: 160%;
  color: #424141;
  position: relative;
  bottom: 0.4rem;
  fill: #9356DC;
}
.section_3_2_cards_1_legend_heart .far:focus .fa-heart {
  font-size: bolder;
}

footer a {
  color: white;
}

.foot {
  width: 100%;
  height: 18rem;
  background-color: #353535;
  color: white;
  border: yellow solid;
}
.foot_logo {
  width: 100%;
  height: 25%;
}
.foot_logo_ohmyfood {
  background-color: transparent;
  width: 35%;
  margin-left: 1rem;
  padding: 5% 0 0 5%;
}
.foot_list {
  width: 100%;
  height: 75%;
}
.foot_list_icon {
  margin-right: 2%;
}
.foot_list_icon i {
  margin-right: 50%;
  font-size: 1rem;
}
.foot_list ul li {
  list-style: none;
  display: flex;
  align-items: center;
  height: 2.2rem;
}

.R1 {
  width: 100%;
  height: fit-content;
  margin: 0;
  font-family: "roboto", sans-serif;
  background-color: #F6F6F6;
  border: steelblue solid;
}
.R1-header {
  width: 100%;
  margin: 0;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  background-color: white;
}
.R1-header-b1 {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.R1-header-b1 i {
  color: #353535;
}
.R1-header-b1 i:hover {
  color: #9356DC;
}
.R1-header-b2 {
  width: 70%;
  display: flex;
  align-items: center;
}
.R1-header-b2-pict {
  height: 1.7rem;
  width: 9rem;
}
.R1-menu {
  width: 100%;
  height: fit-content;
  margin: 0;
}
.R1-menu-header {
  width: 100%;
  z-index: 2;
}
.R1-menu-header-pict {
  width: 100%;
  height: 18rem;
  object-fit: cover;
}
.R1-menu-carte {
  width: 100%;
  z-index: 1;
  background-color: #F6F6F6;
  height: fit-content;
  position: relative;
  bottom: 4rem;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.R1-menu-carte-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #F6F6F6;
}
.R1-menu-carte-title-text {
  width: 70%;
  margin-left: 5%;
  font-family: "Shrikhand";
  font-size: 140%;
}
.R1-menu-carte-title-text h1 {
  font-weight: 400;
}
.R1-menu-carte-title-heart {
  width: 20%;
}
.R1-menu-carte-title-heart i {
  color: #2b2b2b;
  font-size: 150%;
  position: relative;
  top: 35%;
  left: 32%;
}
.R1-menu-carte-choix {
  width: 100%;
  height: fit-content;
  margin-bottom: 10%;
  background-color: #F6F6F6;
}
.R1-menu-carte-choix-entrees {
  margin-bottom: 4%;
  height: fit-content;
}
.R1-menu-carte-choix-entrees-title {
  margin-left: 7%;
}
.R1-menu-carte-choix-entrees-title h2 {
  font-size: 105%;
  font-weight: 400;
  padding-bottom: 1%;
  width: 11%;
  border-bottom: solid #99E2D0;
}
.R1-menu-carte-choix-entrees-nom {
  width: 100%;
  height: fit-content;
}
.R1-menu-carte-choix-entrees-nom-x {
  width: 95%;
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  margin: 0 0 5% 2%;
  box-shadow: #e7e4e4 10px 10px 10px;
}
.R1-menu-carte-choix-entrees-nom-x-text {
  width: 80%;
  margin-left: 4%;
  height: 100%;
}
.R1-menu-carte-choix-entrees-nom-x-text-titre {
  margin: 0;
  padding: 0;
  height: 55%;
}
.R1-menu-carte-choix-entrees-nom-x-text-titre h3 {
  font-size: 100%;
}
.R1-menu-carte-choix-entrees-nom-x-text-stitre {
  margin: 0;
  padding: 0;
  height: 45%;
}
.R1-menu-carte-choix-entrees-nom-x-text-stitre p {
  position: relative;
  bottom: 0;
  font-size: 85%;
  position: relative;
  bottom: 90%;
}
.R1-menu-carte-choix-entrees-nom-x-price {
  width: 20%;
  display: flex;
  align-items: flex-end;
  color: #353434;
}
.R1-menu-carte-choix-entrees-nom-x-price h3 {
  position: relative;
  top: 8%;
  font-size: 95%;
}
.R1-menu-carte-button {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 3rem;
  margin: 0;
}
.R1-menu-carte-button :hover {
  filter: opacity(80%);
  filter: brightness(110%);
  box-shadow: 0px 2px 17px 5px rgba(79, 79, 79, 0.32);
}
.R1-menu-carte-button-b {
  border-radius: 30px;
  width: 60%;
  height: 100%;
  font-size: 0.9rem;
  font-weight: bold;
  border: none;
  box-shadow: 0px 4px 17px 2px rgba(79, 79, 79, 0.26);
  color: white;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
}

/*# sourceMappingURL=style.css.map */
